@import url(http://weloveiconfonts.com/api/?family=entypo);
body{
	font-family: 'Lato',sans-serif;
	position: relative;
	margin: 0px;
	padding: 0px;
}
.header1{
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 1003;
    background-color: #fff;
    clear: both;
    background-color: rgba(255,255,255,.97);
    border-bottom: 1px solid #cedae3;
    box-shadow: 2px 2px rgba(0,0,0,.02);
    overflow: hidden;
    height: 103px;
}
.header{
	width: 70%;
	margin: auto;
}
ul{
	list-style: none;
}
.menu ul{
	display: none;
}
.menu li{
	margin-left: 15px;
}
.drapdown ol{
	position: relative;
	left: -15px;
}

.logo{
	position: relative;
	width: 200px;
	height: 125px;
	margin: 0px;
	padding: 0px;
}
.logo img{
	position: relative;
	top: -45px;
	left: -35px;
	margin: 0px;
	width: 200px;
	height: 150px;
}
.right{
	float: left;
}
.about{
	float: left;
}
/*bura style css-e aiddir*/
.render{
	background-color: #f0f5f9;
	position: relative;
	margin-top: 104px;
	padding-top: 6px;
	padding-bottom: 6px;
	height: auto;
	margin-bottom: 35px;
}
.grid_13{
	width: 70%;
	margin: auto;
	color: rgba(25,113,176,.8);
	font-size: 12px;
    text-transform: uppercase;
}

.icon:before{
	font-size: 15px;
	height: 15px;
	content:"\e75e";
}
.content{
	width: 70%;
	margin: auto;
}
.left{
	width: 24.5%;
	float: left;
	margin: 0px;
	padding: 0px;
}
.category{
	width: 100%;
	border-bottom: 1px solid #f0f5f9;
	margin: 0px;
	margin-bottom: 15px;
	padding: 0px;
}
.category ul{
	width: 90%;
	margin: 0px;
	margin-bottom: 12px;
	padding: 0px;
}
.category ul li{
	position: relative;
	background-color: white;
	color: #1971b0;
    list-style-type: none;
    text-decoration: none;
    display: block;
    padding: 7px 15px 7px 15px;
    font-size: 100%;
}
.category ul li span{
	position: absolute;
	top: 9px;
	right: 7px;
	font-size: 10px;
	border-radius: 6px;
	background-color: #f0f5f9;
    color: #39434c;
    padding: 1px 3px 1px 3px;
}
.category ul li:hover span{
	background-color:#4d94c7;
	color:#fff
}
.category ul li.special:hover span,.category ul li.special span{
	background-color: #b9c7d1;
    color: #39434c;
}
.category ul li:hover{
	background-color: #1971b0;
	color: white;
    list-style-type: none;
    cursor: pointer;
}
.category ul li.special:hover,.category ul li.special{
	color: white;
	background-color: #98aab8;
}
.upcategry{
	border-bottom: 1px solid #f0f5f9;
	margin-bottom: 15px;
    color: #39434c;
    font-weight: bold;
    font-size: 100%;
}
.upcategry ul{
	padding: 0px;
}
.upcategry li{
	font-size: 14px;
	font-weight: normal;
	background-color: white;
	color: #39434c;
    list-style-type: none;
    text-decoration: none;
    padding: 5px 12px 5px 12px;
    display: block;
}
.upcategry input{
	-webkit-font-smoothing: antialiased;
	display: none;
}
.upcategry li:hover{
	background-color: #1971b0;
	color: white;
    list-style-type: none;
    cursor: pointer;
}
.upcategry li:hover input{
	margin: 0px;
	cursor: pointer;
	display: inline;
}
.categoryshow{
	width: 100%;
	border-bottom: 1px solid #f0f5f9;
	margin: 0px;
	margin-bottom: 15px;
	padding: 0px;
}
.categoryshow ul li{
	font-size: 14px;
	color: #005580;
}
.categoryshow ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.hide{
	display: none;
}
.right{
	width: 75.5%;
    float: right;
}
/* burda duzelis et*/
.rightheader{
	background-color: red;
	width: 100%;
}
.rightheader h1{
	margin: 0px;
	padding: 0px;
	font-size: 26px;
	line-height: 26px;
	color: #39434c;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    font-weight: normal;
}
.docstoc{
	height: 60px;
	float: right;
}
#right{
    margin-right: 10px;
}
.docstoc ul{
	display: none;
    margin: 0px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
    color: #98aab8;
    border: 1px solid #98aab8;
}
#right ul{
	height: 30px;
}
.docstoc div{
	height: 30px;
    font-weight: bold;
    font-size: 12px;
    color: #98aab8;
    border: 1px solid #98aab8;
    text-align: center;
}
.docstoc div a{
	padding-top: 5px;
	color: #98aab8;
	text-decoration: none;
	padding: 5px 15px 0 15px;
}
.document{
	clear: both;
	width: 100%;
	margin-top: 40px;
   }
.docheader{
	border-bottom: 1px solid #cedae3;
    text-transform: uppercase;
}
.docheader h3{
	margin: 5px 0px;
	width: 14%;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f2f3f4;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.doccontent{
	clear: both;
	margin: 0px;
	overflow: hidden;
	margin-bottom: 40px;
}
.docsection{
	width: 100%;
	clear: both;
	overflow: hidden;
	padding-bottom: 15px;
	border-bottom: 1px solid #e0e9f0;
}
.docsection:hover{
	background-color: #f0f5f9;
}
.docsection img{
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	border: 1px solid #e0e9f0;
    width: 80px;
    height: 100px;
    display: block;
    left: 15px;
    top: 15px;
    background-color: #fff;
}
.docright{
	width: 85%;
	padding-left: 10px;
	margin-top: 15px;
	float: right;
}
.docsection a{
	color: #222;
	text-decoration: none;
	font-size: 120%;
    box-sizing: content-box;
}
.docsection:hover a{
	color: #1971b0;
}
.docsection a:hover{
	text-decoration: underline;
}
.docright p{
	font-family: 'Lato',sans-serif;
	margin: 0px;
	margin-top: 5px;
	padding-right: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #6c7780;
    overflow: hidden;
    height: 30px
}
.doccategory a{
	font-size: 11px;
	font-weight: bold;
	color: #6c7780;
	line-height: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.baza{
	margin-top: 15px;
}
.baza div{
	float: left;
	margin-right: 10px;
}
.certified{
	border: 1px solid #f08231;
    background-color: #f08231;
    padding: 2px;
	color: rgb(255,255,255);
    font-size: 10px;
    text-transform: uppercase;
}
.doctype{
	position: relative;
	color: #6c7780;
    font-weight: bold;
    padding: 2px;
    text-transform: uppercase;
    font-size: 12px;
}
.doctype img{
	top: -17px;
	left: -5px;
	width: 20px;
	height: auto;
	position: relative;

}
.docview{
	color: #6c7780;
    padding: 2px;
    text-transform: uppercase;
    font-size: 12px;
}
.doccategory{
	color: #6c7780;
    text-transform: uppercase;
    font-size: 12px;
}
.docicon{
	background-color: #98aab8;
	padding: 0px;
	height: 12px;
	padding-bottom: 5px;
	border-radius: 8px;
	font-weight: bold;
	color: white;
	padding-left: 4px;
	padding-right: 4px;
}
/*nfvfnv*/
.costumedocument{
	clear: both;
	width: 100%;
	margin-top: 40px;
   }
.costumeheader{
	border-bottom: 1px solid #cedae3;
    text-transform: uppercase;
}
.costumeheader h3{
	margin: 5px 0px;
	width: 22%;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f2f3f4;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.costumecontent{
	clear: both;
	margin: 0px;
	margin-top: 25px;
	overflow: hidden;
}
.costumesection{
	position: relative;
	clear: both;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #cedae3;
	box-shadow: 1px 1px 2px rgba(206,218,227,.75);
	max-height: 243px;
	width: 32.2%;
}
.costumesection:hover{
	background-color: #fcfdfd;
    border-color: #98aab8;
    box-shadow: 3px 3px 6px rgba(206,218,227,.75);
}
.costumesection:hover h4{
	background-color: #1971b0;
}
.costumesection img{
	margin:0px;
	margin-top: -5px;
	margin-left: 10px;
	width: 208px;
	height: auto;
}
.cossecheader{
font-weight: bold;
font-size: 11px;
padding: 0 15px;
margin: 0px;
width: 60%;
}
.cossecheader h4{
	padding: 0 7px;
	color: white;
	line-height: 20px;
	margin: 0px;
	background-color: #667c86;
}
.costumesection h3{
	margin-left: 10px;
	margin-bottom: 0px;
	height: 30px;
    font-size: 16px;
    line-height: 18px;
    color: #222;
    font-weight: normal;
    cursor: pointer;
}
.costumesection:hover h3{
	color: #1971b0;
}
.costumesection footer{
	position: relative;
	padding-top: 10px;
	background: white;
	bottom: 130px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
.costumesection footer a{
    display: inline;
    text-decoration: none;
    color: #1971b0;
    font-weight: bolder;
    font-size: 12px;

}
.costumesection footer a:hover{
	text-decoration: underline;
    color: #005580;
}
.costumeview{
	position: relative;
	top: -2px;
	right: -60%;
	color: #aaa;
	font-weight: bolder;
	font-size: 12px;
	overflow: hidden;
}
.courses{
	clear: both;
	width: 100%;
	margin-top: 40px;
   }
.coursesheader{
	border-bottom: 1px solid #cedae3;
    text-transform: uppercase;
}
.coursesheader h3{
	margin: 5px 0px;
	width: 13%;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f2f3f4;
    font-size: 80%;
    line-height: 150%;
    color: #333333;
}
.coursescontent{
	clear: both;
	margin: 0px;
	margin-top: 25px;
	overflow: hidden;
}
.coursessection{
	position: relative;
	clear: both;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #cedae3;
	box-shadow: 1px 1px 2px rgba(206,218,227,.75);
	max-height: 243px;
	width: 32.2%;
}
.coursessection:hover{
	background-color: #fcfdfd;
    border-color: #98aab8;
    box-shadow: 3px 3px 6px rgba(206,218,227,.75);
}
.coursessection:hover h4{
	background-color: #1971b0;
}
.coursessection img{
	margin:0px;
	margin-top: 5px;
	margin-left: 10px;
	width: 208px;
	height: auto;
}
.coursessecheader{
font-weight: bold;
font-size: 11px;
padding: 0 15px;
margin: 0px;
width: 60%;
}
.coursessecheader h4{
	padding: 0 7px;
	color: white;
	line-height: 20px;
	margin: 0px;
	background-color: #667c86;
}
.coursessection h3{
	margin-left: 10px;
	margin-bottom: 0px;
	height: 30px;
    font-size: 16px;
    line-height: 18px;
    color: #222;
    font-weight: normal;
    cursor: pointer;
}
.coursessection:hover h3{
	color: #1971b0;
}
.coursessection footer{
	position: relative;
	padding-top: 10px;
	background: white;
	bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
.coursessection footer a{
    display: inline;
    text-decoration: none;
    color: #1971b0;
    font-weight: bolder;
    font-size: 12px;

}
.coursessection footer a:hover{
	text-decoration: underline;
    color: #005580;
}
.coursesview{
	position: relative;
	top: -2px;
	right: -55%;
	color: #aaa;
	font-weight: bolder;
	font-size: 12px;
	overflow: hidden;
}
/*bura yaz*/
.packages{
	clear: both;
	width: 100%;
	margin-top: 40px;
   }
.packageheader{
	border-bottom: 1px solid #cedae3;
    text-transform: uppercase;
}
.packageheader h3{
	margin: 5px 0px;
	width: 13%;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f2f3f4;
    font-size: 80%;
    line-height: 150%;
    color: #333333;
}
.packagecontent{
	clear: both;
	margin: 0px;
	margin-top: 25px;
}
.packagesection{
	position: relative;
	clear: both;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #cedae3;
	box-shadow: 1px 1px 2px rgba(206,218,227,.75);
	max-height: 250px;
	width: 32.2%;
}
.packagesection:hover{
	background-color: #fcfdfd;
    border-color: #98aab8;
    box-shadow: 3px 3px 6px rgba(206,218,227,.75);
}
.packagesection:hover h4{
	background-color: #1971b0;
}
.packagesection img{
	position: relative;
	z-index: 1;
	top: -35px;
	margin:0px;
	margin-left: 10px;
	width: 208px;
	height: auto;
}
.packagesecheader{
font-weight: bold;
font-size: 11px;
padding: 0 15px;
margin: 0px;
width: 60%;
}
.packagesecheader h4{
	top: 30px;
	padding: 0 7px;
	color: white;
	line-height: 20px;
	margin: 0px;
	background-color: #667c86;
}
.packagesection h3{
	position: relative;
	z-index: 2;
	width: 60%;
	top: 70px;
	transform:rotate(7deg);
	-moz-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	left: 60px;
	margin-left: 10px;
	margin-bottom: 0px;
	height: 30px;
    font-size: 16px;
    line-height: 18px;
    color: #222;
    font-weight: normal;
    cursor: pointer;
}
.packagesection:hover h3{
	color: #1971b0;
}
.packagesection footer{
	position: relative;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
	background: white;
	bottom: 120px;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 3;
	overflow: hidden;
}
.packagesection footer a{
    display: inline;
    text-decoration: none;
    color: #1971b0;
    font-weight: bolder;
    font-size: 12px;

}
.packagesection footer a:hover{
	text-decoration: underline;
    color: #005580;
}
/*bura yaz*/
.videos{
	clear: both;
	width: 100%;
	margin-top: 40px;
   }
.videosheader{
	border-bottom: 1px solid #cedae3;
    text-transform: uppercase;
}
.videosheader h3{
	margin: 5px 0px;
	width: 13%;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f2f3f4;
    font-size: 80%;
    line-height: 150%;
    color: #333333;
}
.videoscontent{
	clear: both;
	margin: 0px;
	margin-top: 25px;
	overflow: hidden;
}
.videossection{
	position: relative;
	clear: both;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #cedae3;
	box-shadow: 1px 1px 2px rgba(206,218,227,.75);
	max-height: 233px;
	width: 32.2%;
}
.videossection:hover{
	background-color: #fcfdfd;
    border-color: #98aab8;
    box-shadow: 3px 3px 6px rgba(206,218,227,.75);
}
.videossection:hover h4{
	background-color: #1971b0;
}
.videossection img{
	position: relative;
    top: -38px;
	margin:0px;
	z-index: 2;
	margin-left: 10px;
	width: 208px;
	height: auto;
}
.videossecheader{
font-weight: bold;
font-size: 11px;
padding: 0 15px;
margin: 0px;
width: 60%;
}
.videossecheader h4{
	padding: 0 7px;
	color: white;
	line-height: 20px;
	margin: 0px;
	background-color: #667c86;
}
.videossection h3{
	top: -2px;
	margin-left: 10px;
	padding-bottom: 20px;
	position: relative;
	background: white;
	z-index: 3;
	height: 30px;
    font-size: 16px;
    line-height: 18px;
    color: #222;
    font-weight: normal;
    cursor: pointer;
}
.videossection:hover h3{
	color: #1971b0;
}
.videossection footer{
	position: relative;
	z-index: 4;
	background: white;
	padding-top: 8px;
	top: -61px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
.videossection footer a{
    display: inline;
    text-decoration: none;
    color: #1971b0;
    font-weight: bolder;
    font-size: 12px;
    text-transform: uppercase;

}
.videossection footer a:hover{
	text-decoration: underline;
    color: #005580;
}
.videosview{
	position: relative;
	top: -30px;
	right: -80%;
	color: #aaa;
	font-weight: bolder;
	font-size: 12px;
	overflow: hidden;
}
/*bura diqqet*/
.articles{
	clear: both;
	width: 100%;
	margin-top: 40px;
   }
.articlesheader{
	border-bottom: 1px solid #cedae3;
    text-transform: uppercase;
}
.articlesheader h3{
	margin: 5px 0px;
	width: 13%;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f2f3f4;
    font-size: 80%;
    line-height: 150%;
    color: #333333;
}
.articlescontent{
	clear: both;
	margin: 0px;
	margin-top: 25px;
	overflow: hidden;
}
.articlessection{
	position: relative;
	clear: both;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #cedae3;
	box-shadow: 1px 1px 2px rgba(206,218,227,.75);
	max-height: 243px;
	width: 32.2%;
}
.articlessection:hover{
	background-color: #fcfdfd;
    border-color: #98aab8;
    box-shadow: 3px 3px 6px rgba(206,218,227,.75);
}
.articlessection:hover h4{
	background-color: #1971b0;
}
.articlessection img{
	margin:0px;
	margin-top: 10px;
	margin-left: 10px;
	width: 208px;
	height: 200px;
}
.articlessecheader{
font-weight: bold;
font-size: 11px;
padding: 0 15px;
margin: 0px;
width: 60%;
}
.articlessecheader h4{
	padding: 0 7px;
	color: white;
	line-height: 20px;
	margin: 0px;
	background-color: #667c86;
}
.articlessection h3{
	margin-left: 10px;
	margin-bottom: 0px;
	height: 30px;
    font-size: 16px;
    line-height: 18px;
    color: #222;
    font-weight: normal;
    cursor: pointer;
}
.articlessection:hover h3{
	color: #1971b0;
}
.articlessection footer{
	position: relative;
	padding-top: 5px;
	background: white;
	top: -64px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
.articlessection footer a{
    display: inline;
    text-decoration: none;
    color: #1971b0;
    font-weight: bolder;
    font-size: 12px;

}
.articlessection footer a:hover{
	text-decoration: underline;
    color: #005580;
}
.articlesview{
	position: relative;
	top: -27px;
	right: -80%;
	color: #aaa;
	font-weight: bolder;
	font-size: 12px;
	overflow: hidden;
}
/*about*/
.about{
	width: 70%;
	clear: both;
	margin-left: 15%;
    margin-right: 15%;
	overflow: hidden;
	padding: 0px;
}
.aboutdoc{
	float: left;
    position: relative;
    width: 35.5%;
    margin: 0px;
    margin-right: 10px;
}

.aboutdoc h2{
	line-height: 26px;
    color: #39434c;
	font-size: 15px;
}
.aboutdoc p{
	font-size: 13px;
	color: #6c7780;
}
.aboutdoc p a:hover{
    color: #02416E;
    text-decoration: underline;
}
.aboutdoc p a{
	color: #1571B3;
    text-decoration: none;
}
.aboutdoc1{
	float: left;
    position: relative;
    width: 23%;
    margin-left: 10px;
    margin-right: 10px;
}
.aboutdoc1 h2{
	line-height: 26px;
    color: #39434c;
	font-size: 15px;
}
.aboutdoc1 p{
	font-size: 13px;
	color: #6c7780;
}
.aboutdoc1 p a:hover{
    color: #02416E;
    text-decoration: underline;
}
.aboutdoc1 p a{
	color: #1571B3;
    text-decoration: none;
}
.aboutdoc1 ul{
	clear: both;
	margin: 0px;
	padding: 0px;
}
.aboutdoc1 li{
	float: left;
	width: 20px;
    height: 20px;
    margin-left: 5px;
}
.aboutdoc1 li img{
	width: 100%;
	height: 100%;
}
.docstocfooter{
	background-color: #667c86;
    border-top: solid 5px #53666e;
    color: #fff;
    padding: 20px 0 20px 0;
    clear: both;
    overflow: hidden;
    padding-bottom: 0px;
}
.footercontent{
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.grid-4{
	width: 32%;
}
.grid-2{
	width: 15%;
}
.grid-4,.grid-2{
	float: left;
	margin-left: 10px;
}
.grid-4 ul{
	width: 46%;
}
.grid-4 ul,.grid-2 ul{
	float: left;
	padding: 0px;
	margin-left: 10px;
}
.grid-2 ul{
	width: 100%;
}
.grid-4 h4,.grid-2 h4{
	font-size: 14px;
	margin-left: 10px;
}
.grid-4 ul li,.grid-2 ul li{
    font-size: 12px;
    line-height: 12px;
    padding: 5px 10px;
    margin: 0 -10px;
}
.grid-4 ul li a,.grid-2 ul li a{
	color: #a4b5bd;
	text-decoration: none;
}
.grid-4 ul li:hover,.grid-2 ul li:hover{
background-color:#738a94;
}
.grid-4 ul li:hover a,.grid-2 ul li:hover a{
	color:#fff;
}
.bottom-footer {
	clear: both;
    background-color: #53666e;
    color: #cfdadf;
    padding: 10px 0;
}
.content-bottom-footer{
    width: 70%;
    margin: auto;
    overflow: hidden;
    font-size: 12px;

}
.content-bottom-footer a{
	margin-left: 7px;
	color: #cfdadf; 
}
.content-bottom-footer a:hover{
	text-decoration: none;
}
.grid-8{
	width: 64%;
	float: left;
}
.grid-5{
	width: 32%;
	float: right;
}
